//vars
$fg:#a29060;
$bg:#a29060;
$pi:3.14;

//config
$menuItems:3;
$open-distance:105px;
$opening-angle:$pi*2;

%ball{
  background:$fg;
  border-radius:100%;
  width:70px;
  height:70px;
  position:absolute;
  top:20px;
  color:white;
  text-align:center;
  line-height:80px;
  transform:translate3d(0,0,0);
  transition:transform ease-out 200ms;
}

.menuItem {
  @extend %ball;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover { cursor: pointer; }

  &:hover{
    // background:#fff;
    color:$fg;
  }

  @for $i from 1 through $menuItems{
    &:nth-child(#{$i+2}){
      transition-duration:180ms;
    }
  }
}

$hamburger-spacing:8px;
.hamburger {
  $width:25px;
  $height:3px;
  width:$width;
  height:$height;
  background:#272928;
  display:block;
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-$width/2;
  margin-top:-$height/2;
  transition:transform 200ms;

  &.hamburgerOne{
    opacity: 0;
    transform:translate3d(0,-$hamburger-spacing,0);
  }
  &.hamburgerThree{
    opacity: 0;
    transform:translate3d(0,$hamburger-spacing,0);
  }
}

.menuOpen {
  display:none;
  svg {
    opacity: 1;
  }

  &:checked+.menuOpenButton{
    transition-timing-function:linear;
    transition-duration:200ms;
    transform:scale(0.8,0.8) translate3d(0,0,0);

    .hamburgerOne{
      opacity: 1;
      transform:translate3d(0,0,0) rotate(45deg);
    }
    .hamburgerThree{
      opacity: 1;
      transform:translate3d(0,0,0) rotate(-45deg);
    }
    svg { opacity: 0 }
  }

  &:checked~.menuItem{
    transition-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000);
    @for $i from 1 through $menuItems{
      &:nth-child(#{$i+2}){
        transition-duration:90ms+(80ms*$i);
        transform:translate3d((70px*$i),0,0);
      }
    }
  }
}

.menu{
  filter:url('#shadowed-goo');
  $width:320px;
  $height:105px;
  position:fixed;
  left:22px;
  bottom:10px;

  @media screen and (min-width: 40em) {
    left:41px;
    bottom:30px;
  }
  width:$width;
  height:$height;
  box-sizing:border-box;
  font-size:20px;
  text-align:left;
}

.menuOpenButton{
  @extend %ball;
  z-index:2;
  transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition-duration:400ms;
  transform:scale(1.1,1.1) translate3d(0,0,0);
  cursor:pointer;

  &:hover{
    transform:scale(1.2,1.2) translate3d(0,0,0);
  }
}
